<div class="expense-form">

  <h2>Add Expense</h2>

  <form (ngSubmit)="addExpense()">

    <input
      type="number"
      placeholder="Amount"
      [(ngModel)]="expenseRequest.amount"
      name="amount"
    >

    <input
      type="text"
      placeholder="Category"
      [(ngModel)]="expenseRequest.category"
      name="category"
    >

    <input
      type="text"
      placeholder="Description"
      [(ngModel)]="expenseRequest.description"
      name="description"
    >

    <button type="submit">
      Add Expense
    </button>

  </form>

</div>
 